<!--The content below is only a placeholder and can be replaced.-->

<div class="container content">
  <div class="row">
<div class="col info "> 
  <h2>Lsit 1</h2>
  <div class="infoBox">
      <p *ngFor="let item of list1" >{{item}}  </p>
  </div>
    <input type="text"  [(ngModel)]="value" >
    <button [disabled]=" (value || list1.length>=10000) ? false:true" (click)="pushTo1()" >Add Item</button>
</div>
<div class="col info"> 
  <h2>Lsit 2 (from backend)</h2>
  <div class="infoBox ">
     <p *ngFor="let item of list2" >{{item}}  </p>

  </div>
  <button class="retrive" (click)="retriveData()" >Retrive from backend</button>
</div>
</div>
<button>Sync List 2</button>
</div>

